@import url(common.css);

/* ------------------------------ [ Layout Reset ] ------------------------------------------------------------------------------------------ */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* Reset */
html,body,div,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,big,cite,code,del,dfn,font,figure,figcaption,img,ins,q,s,samp,small,strike,sub,sup,tt,var,
b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	font:16px/1em 'Pretendard',sans-serif;
	color:#111111;
	margin:0;
	padding:0;
}
button,input,textarea {font:16px/1em 'Pretendard',sans-serif; letter-spacing:0;}
select {font:16px/1em 'Pretendard',sans-serif; letter-spacing:0;}

html, body{
	-webkit-text-size-adjust : none;
	-ms-text-size-adjust : none;
	-moz-text-size-adjust : none;
	-o-text-size-adjust : none;
}
button,input,textarea {
	-webkit-text-size-adjust:none;
	-webkit-appearance:none;
	-webkit-border-radius:0;
	border:none;
	border-radius:0;
	margin:0;
	padding:0;
}
button {
	background:none;
	border:none;
	color:inherit;
	cursor:pointer;
}
button:disabled {
	cursor:default;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	table-layout:fixed;
	width:100%;
}
select {
	background-color:transparent;
	border:none;
	letter-spacing:inherit;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-webkit-font-smoothing:antialiased;
	border:none;
	border-radius:0;
	margin:0;
	padding:0;
}
select::-ms-expand {
	display:none; /* 화살표 없애기 for IE10, 11 */
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
}
ul,li,ol {
	list-style-type:none;
}
hr {
	display:none;
}
legend,caption {
	overflow:hidden;
	visibility:hidden;
	position:absolute;
	font-size:0;
	line-height:0;
	height:0;
	z-index:-1;
}
a,a:active,input:active,button:active,select:active,label:active,
a:focus,input:focus,button:focus,select:focus,label:focus {
	text-decoration:none;
	outline:none;
}
a,span,em,strong {
	color:inherit;
	font:inherit;
	border:0;
	margin:0;
	padding:0;
	-webkit-font-smoothing:antialiased;
}
a,input,button,select,label {
	-webkit-tap-highlight-color:transparent;
}
::-webkit-input-placeholder {
	color:#A0A0A0;
	font:inherit;
	line-height:inherit;
}
input:disabled::-webkit-input-placeholder {
	color:#999999;
}
:-moz-placeholder {
	color:#A0A0A0;
	font:inherit;
	line-height:inherit;
}
input:disabled:-moz-placeholder {
	color:#999999;
}
::-moz-placeholder {
	color:#A0A0A0;
	font:inherit;
	line-height:inherit;
}
input:disabled::-moz-placeholder {
	color:#999999;
}
:-ms-input-placeholder {
	color:#A0A0A0;
	font:inherit;
	line-height:inherit;
}
input:disabled:-ms-input-placeholder {
	color:#999999;
}
textarea::placeholder {
	color:#999999;
}
textarea::-webkit-placeholder {
	color:#999999;
}
textarea::-moz-placeholder {
	color:#999999;
}
textarea::-ms-placeholder {
	color:#999999;
}
.blind {
	overflow:hidden;
	font-size:0;
	line-height:0;
	position:absolute;
	height:0;
	width:0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow:0 0 0px 1000px #fff inset;
	transition:background-color 5000s ease-in-out 0s;
}